<!DOCTYPE html>
<html>
<head>
<title>Books|Goodreads</title>

</head>
<body>
<style href="{{url_for('static',filename='css/books.css')}}"></style>

<h1> Welcome {{session.username}}</h1>
<table style="color:purple;">
<tr>
<th scope="col">Author</th>
<th scope="col">Id</th>
<th scope="col">ISBN</th>
<th scope="col">Title</th>
<th scope="col">Year</th>
</tr>
{% for book in books %}
<tr>
<td scope="row" data-label="AUTHOR">{{book.author}}</td>
<td scope="row" data-label="BOOK ID">{{book.id}}</td>
<td scope="row" data-label="ISBN">{{book.isbn}}</td>
<td scope="row" data-label="TITLE">{{book.title}}</td>
<td scope="row" data-label="YEAR">{{book.year}}</td>
</tr>
{% endfor %}
</body>
</html>

